<section>

    <div class="main-content">
        <div class="back-button">
            <p-button icon="pi pi-arrow-left" routerLink="/dashboard/login" />
        </div>



        <form [formGroup]="registerForm">
            @if (formCounter==1) {
            <h2 class="text-main-information">Información personal</h2>
            <div class="first-form">
                <div class="fileds">

                    <div class="field">
                        <input pInputText placeholder="Primer nombre" formControlName="firstName" />
                    </div>
                    <div class="field">
                        <input pInputText placeholder="Segundo nombre" formControlName="middleName" />
                    </div>
                    <div class="field">
                        <input pInputText placeholder="Primer apellido" formControlName="lastName" />
                    </div>
                    <div class="field">
                        <input pInputText placeholder="Segundo apellido" formControlName="secondLastName" />
                    </div>
                    <div class="field">
                        <input pInputText placeholder="Correo electrónico" type="email" formControlName="email" />
                    </div>
                    <div class="field">
                        <p-calendar [style]="{'width':'100%'}" [readonlyInput]="true" placeholder="Fecha de nacimiento"
                            [maxDate]="maxDate" formControlName="birthDate" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="field">
                        <p-dropdown [options]="genders" placeholder="Seleccione un género" [style]="{'width':'100%'}"
                            formControlName="gender" />
                    </div>
                    <div class="field">
                        <p-dropdown [options]="countries" [filter]="true" filterBy="name.common"
                            placeholder="Seleccione un país" optionLabel="name.common" [style]="{'width':'100%'}"
                            (onChange)="getCitiesByCountry($event)" formControlName="country" />
                    </div>
                    <div class="field">
                        <p-dropdown [options]="cities" [filter]="true" placeholder="Seleccione una ciudad"
                            formControlName="city" [virtualScroll]="true" [style]="{'width':'100%'}"
                            [virtualScrollItemSize]="30" />
                    </div>
                    <div class="field">
                        <input pInputText placeholder="Estatura (en centímetros)" pKeyFilter="int"
                            formControlName="height" />
                    </div>
                </div>
                <div class="continue-button-content">
                    <p-button label="Continuar" class="login-button" (onClick)="setFormCounter(1)" />
                </div>
            </div>
            }@else if(formCounter==2){
            <h2 class="text-description">Descripción y gustos</h2>
            <div class="second-form">
                <div class="fields">
                    <div class="field">
                        <textarea rows="5" pInputTextarea [autoResize]="true" formControlName="description">
                    </textarea>
                        <span
                            [ngClass]="{'red-color': registerForm.get('description')?.value.trim().length>250}">{{registerForm.get('description')?.value.trim().length}}
                            de 250</span>
                    </div>
                </div>
                <div class="buttons">
                    <p-button label="Volver" class="login-button" (onClick)="setFormCounter(-1)" />
                    <p-button label="Continuar" class="login-button" (onClick)="setFormCounter(1)" />
                </div>
            </div>
            }@else if (formCounter==3) {

            <h2 class="text-images">Fotos</h2>
            <div class="second-form">
                <div class="fields">
                    <div class="field">
                        <input type="file" #fileInput accept="image/*" hidden (change)="addImage($event)"/>

                        <p-button label="Seleccionar foto" icon="pi pi-plus" (onClick)="fileInput.click()"
                            styleClass="p-button-primary" size="small" />

                    </div>
                    <div class="images">
                        <ul class="images-content">
                            @for (item of images; track $index;let i=$index) {
                                <li>

                                    <div class="image-container">
                                        <img [src]="item.data" alt="Imagen" class="image">
                                        <i class="pi pi-times icon-overlay" (click)="removeImage(i)"></i>
                                        <i class="pi icon-main" [pTooltip]="!item.mainImage?'Foto principal':''" tooltipPosition="top" [ngClass]="{'pi-star-fill': item.mainImage,'pi-star': !item.mainImage}" (click)="setMainPhoto(i)"></i>
                                      </div>
                                      
                                    @if (!item.mainImage) {
                                     
                                    }
                                    
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="buttons">
                    <p-button label="Volver" class="login-button" (onClick)="setFormCounter(-1)" />
                    <p-button label="Finalizar" class="login-button" />
                </div>
            </div>
            }


        </form>
    </div>
</section>